<div class="container">
  <div class="content">
    <div class="row">
	  <div class="span8 offset2">
		<br><br><br><br>
	    <div class="hero-unit" style="overflow: auto;">
		  <center>
		  	<h1>Contact Us</h1><hr>
		  </center>
		  <!--left column-->
		  <div class="span3">
		  	<p>
			  <strong>Phone</strong>
			  <br>
			  +1 732-669-2629
			</p>
			<br>
			<p>
			  <strong>Inquiries:</strong>
			</p>
			<p>
			  &#160;&#160;&#160;
			  <strong>Retailers/Brands</strong>
			  <br>&#160;&#160;&#160;
			  natalie@stylekick.com
			</p>
			<p>
			  &#160;&#160;&#160;  
			  <strong>Investors</strong>
			  <br>&#160;&#160;&#160;
			  karn@stylekick.com
			</p>
		  </div><!--/.span3-->
		  <!--right column-->
		  <div class="span3">
		  	<p>Learn more about how Stylekick can create serious lift in sales, and reduce return rates </p>
		    <center>
		    	<%= link_to image_tag("request_button.png", :size=> "62x62") %>
		    </center>
		  </div><!--/.span3-->
	    </div><!--/.hero-unit-->
	    <br><br>
	  </div><!--/.span8-->
    </div><!--/.row-->
  </div><!--/.content-->
</div> <!-- /.container -->

