<div class="container">
  <div class="content">
    <div class="row">
    <br><br><br><br><br><br><br><br><br>
	  <div class="span6 offset3">
	  	<center><%= image_tag("Logo.png", :alt => "rss feed") %></center>	
	  </div><!-- /.span6 -->
	
	  <div class="span6 offset3">
		<hr>
		<center>We understand that style and fit aren’t easy to discover or predict; unique individuals have unique views on how each piece of clothing should look and fit them specifically. We aim to extend our ability to select things that accurately reflect our tastes and preferences, things we wear and share in the real world, in a more precise way to the world of apparel e-commerce.</center>
	  </div><!-- /.span6 -->
    </div><!-- /.row -->
  </div><!-- /.content -->
</div><!-- /.contaner -->​